<a href="https://colab.research.google.com/github/kalehariprasad/customer_churn_prediction/blob/main/notebooks/custumer_churn_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/Assignment_Data - ML_Intern_Assignment_Data.csv.csv")

In [ ]:
df.head()

,CustomerID,Gender,Age,Tenure,MonthlyCharges,TotalCharges,PaymentMethod,Churn,ServiceUsage1,ServiceUsage2,ServiceUsage3
0,CUST0001,Male,20,5,62.31,2950.41,Credit Card,Yes,59,20,63
1,CUST0002,Female,25,23,118.96,7460.55,Bank Transfer,No,42,41,136
2,CUST0003,Female,25,39,69.20,3064.73,Bank Transfer,No,65,0,165
3,CUST0004,Male,56,47,145.90,2612.22,Cash,No,64,40,169
4,CUST0005,Female,33,69,88.51,4833.99,Cash,No,62,1,54

In [ ]:
df.shape

(200, 11)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerID      200 non-null    object
 1   Gender          200 non-null    object
 2   Age             200 non-null    int64
 3   Tenure          200 non-null    int64
 4   MonthlyCharges  200 non-null    float64
 5   TotalCharges    200 non-null    float64
 6   PaymentMethod   200 non-null    object
 7   Churn           200 non-null    object
 8   ServiceUsage1   200 non-null    int64
 9   ServiceUsage2   200 non-null    int64
 10  ServiceUsage3   200 non-null    int64
dtypes: float64(2), int64(5), object(4)
memory usage: 17.3+ KB



*   All colums are in correct data typr formate

*   there are no columns which are incorrect data type

In [ ]:
df.isnull().sum()

CustomerID        0
Gender            0
Age               0
Tenure            0
MonthlyCharges    0
TotalCharges      0
PaymentMethod     0
Churn             0
ServiceUsage1     0
ServiceUsage2     0
ServiceUsage3     0
dtype: int64



*   all columns have no missing data

In [ ]:
cat_cols = df.select_dtypes(include="object")
num_cols = df.select_dtypes(exclude="object")

In [ ]:

for col in cat_cols:
    print(f"count\n{col}")
    print(df[col].value_counts())
    print("\n")  # For better readability

count
CustomerID
CustomerID
CUST0001    1
CUST0138    1
CUST0128    1
CUST0129    1
CUST0130    1
           ..
CUST0070    1
CUST0071    1
CUST0072    1
CUST0073    1
CUST0200    1
Name: count, Length: 200, dtype: int64


count
Gender
Gender
Female    115
Male       85
Name: count, dtype: int64


count
PaymentMethod
PaymentMethod
Cash             54
Credit Card      52
Bank Transfer    47
PayPal           47
Name: count, dtype: int64


count
Churn
Churn
No     158
Yes     42
Name: count, dtype: int64



*   since column CustomerID is a unique identifier for row we can delete the column
*   And by seeing all columns value count we have no problem with Gender and PaymentMethod
*   but for churn column we can obeserve that tha reatio between yes and No is around 1:3
*   this shows clearly that this is an imbalancce data set which need to be handled before training the model

In [ ]:
num_cols.describe()

,Age,Tenure,MonthlyCharges,TotalCharges,ServiceUsage1,ServiceUsage2,ServiceUsage3
count,200.00000,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000
mean,42.41000,35.945000,82.97515,5040.986650,50.300000,24.695000,107.100000
std,15.12899,20.311939,37.92233,2802.423841,28.710476,14.474791,58.037416
min,18.00000,1.000000,20.16000,118.080000,0.000000,0.000000,2.000000
25%,29.00000,20.750000,48.72750,2454.822500,25.000000,13.000000,54.750000
50%,42.00000,37.500000,83.59500,4931.905000,51.500000,25.000000,106.500000
75%,55.00000,53.000000,115.75500,7618.195000,76.000000,37.000000,159.250000
max,69.00000,70.000000,149.44000,9984.360000,99.000000,49.000000,198.000000



*